@model studentcourse.Models.MyCourse
@{      
    string[,] courseAry = new string[9, 6]; //week,time
    string[,] TeacherAry = new string[9, 6]; //week,time
    string[,] Color = new string[9, 6]; //week,time

    int numtime = 0;
    int numweek = 0;
    foreach (var item in Model.MyCourses)
    {
        string week = item.Week;
        char[] time = item.Time.ToCharArray();

        switch (week)
        {
            case "一":
                numweek = 1;
                break;
            case "二":
                numweek = 2;
                break;
            case "三":
                numweek = 3;
                break;
            case "四":
                numweek = 4;
                break;
            case "五":
                numweek = 5;
                break;
        }
        foreach (var itemtime in time)
        {
            switch (itemtime)
            {
                case 'A':
                    numtime = 1;
                    break;
                case 'B':
                    numtime = 2;
                    break;
                case 'C':
                    numtime = 3;
                    break;
                case 'D':
                    numtime = 4;
                    break;
                case 'E':
                    numtime = 5;
                    break;
                case 'F':
                    numtime = 6;
                    break;
                case 'G':
                    numtime = 7;
                    break;
                case 'H':
                    numtime = 8;
                    break;
            }
            courseAry[numtime, numweek] = item.Course;
            TeacherAry[numtime, numweek] = item.Teacher;
            Color[numtime, numweek] = "blue";
        }
    }
    }
<h1 class="mb-4">我的課表</h1>
<div class="container mb-4">
    <div class="timetable-img text-center">
        <img src="img/content/timetable.png" alt="">
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr class="bg-light-gray">
                    <th class="text-uppercase">
                        Time
                    </th>
                    <th class="text-uppercase">Monday</th>
                    <th class="text-uppercase">Tuesday</th>
                    <th class="text-uppercase">Wednesday</th>
                    <th class="text-uppercase">Thursday</th>
                    <th class="text-uppercase">Friday</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">(A) 08:10 - 09:00</td>
                    <td>
                        <span class="bg-@Color[1,1] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">@courseAry[1, 1]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[1, 1]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[1,2] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[1, 2]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[1, 2]</div>
                    </td>

                    <td>
                        <span class="bg-@Color[1,3] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[1, 3]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[1, 3]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[1,4] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[1, 4]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[1, 4]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[1,5] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[1, 5]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[1, 5]</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">(B) 09:10 - 10:00</td>
                    <td>
                        <span class="bg-@Color[2,1] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[2, 1]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[2, 1]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[2,2] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[2, 2]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[2, 2]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[2,3] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[2, 3]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[2, 3]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[2,4] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[2, 4]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[2, 4]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[2,5] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[2, 5]</span>

                        <div class="margin-10px-top font-size14">@TeacherAry[2, 5]</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">(C) 10:10 - 11:00</td>
                    <td>
                        <span class="bg-@Color[3,1] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[3, 1]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[3, 1]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[3,2] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[3, 2]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[3, 2]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[3,3] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[3, 3]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[3, 3]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[3,4] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[3, 4]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[3, 4]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[3,5] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[3, 5]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[3, 5]</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">(D) 11:10 - 12:00</td>
                    <td>
                        <span class="bg-@Color[4,1] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[4, 1]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[4, 1]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[4,2] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[4, 2]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[4, 2]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[4,3] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[4, 3]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[4, 3]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[4,4] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[4, 4]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[4, 4]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[4,5] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[4, 5]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[4, 5]</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">12:00 - 13:00</td>
                    <td>
                        <div class="margin-10px-top font-size14">休息</div>
                    </td>
                    <td>
                        <div class="margin-10px-top font-size14">休息</div>
                    </td>
                    <td>
                        <div class="margin-10px-top font-size14">休息</div>
                    </td>
                    <td>
                        <div class="margin-10px-top font-size14">休息</div>
                    </td>
                    <td>
                        <div class="margin-10px-top font-size14">休息</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">(E) 13:10 - 14:00</td>
                    <td>
                        <span class="bg-@Color[5,1] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[5, 1]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[5, 1]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[5,2] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[5, 2]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[5, 2]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[5,3] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[5, 3]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[5, 3]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[5,4] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[5, 4]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[5, 4]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[5,5] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[5, 5]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[5, 5]</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">(F) 14:10 - 15:00</td>
                    <td>
                        <span class="bg-@Color[6,1] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[6, 1]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[6, 1]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[6,2] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[6, 2]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[6, 2]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[6,3] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[6, 3]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[6, 3]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[6,4] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[6, 4]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[6, 4]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[6,5] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[6, 5]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[6, 5]</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">(G) 15:10 - 16:00</td>
                    <td>
                        <span class="bg-@Color[7,1] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[7, 1]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[7, 1]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[7,2] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[7, 2]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[7, 2]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[7,3] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[7, 3]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[7, 3]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[7,4] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[7, 4]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[7, 4]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[7,5] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[7, 5]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[7, 5]</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">(H) 16:10 - 17:00</td>
                    <td>
                        <span class="bg-@Color[8,1] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[8, 1]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[8, 1]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[8,2] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[8, 2]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[8, 2]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[8,3] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[8, 3]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[8, 3]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[8,4] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[8, 4]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[8, 4]</div>
                    </td>
                    <td>
                        <span class="bg-@Color[8,5] padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@courseAry[8, 5]</span>
                        <div class="margin-10px-top font-size14">@TeacherAry[8, 5]</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="bg-light-gray">
            <th>
                課程Id
            </th>
            <th>
                課程名稱
            </th>
            <th>
                時段
            </th>
            <th>
                星期
            </th>
            <th>
                教師
            </th>
            <th>
                科系
            </th>
            <th>
                類別
            </th>
            <th>
                學分
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.MyCourses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Week)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credit)
                </td>
                <td>
                    <a asp-action="Del" asp-route-id="@item.Id">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    body {
        margin-top: 10px;
    }

    .bg-light-gray {
        background-color: #D7DDE1;
    }

    .table-bordered thead td, .table-bordered thead th {
        border-bottom-width: 1px;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #444647;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #444647;
    }


    .bg-sky.box-shadow {
        box-shadow: 0px 5px 0px 0px #00a2a7
    }

    .bg-orange.box-shadow {
        box-shadow: 0px 5px 0px 0px #af4305
    }

    .bg-green.box-shadow {
        box-shadow: 0px 5px 0px 0px #4ca520
    }

    .bg-yellow.box-shadow {
        box-shadow: 0px 5px 0px 0px #dcbf02
    }

    .bg-pink.box-shadow {
        box-shadow: 0px 5px 0px 0px #e82d8b
    }

    .bg-purple.box-shadow {
        box-shadow: 0px 5px 0px 0px #8343e8
    }

    .bg-lightred.box-shadow {
        box-shadow: 0px 5px 0px 0px #d84213
    }


    .bg-sky {
        background-color: #02c2c7
    }

    .bg-blue {
        background-color: #2599E7
    }

    .bg-orange {
        background-color: #e95601
    }

    .bg-green {
        background-color: #5bbd2a
    }

    .bg-yellow {
        background-color: #f0d001
    }

    .bg-pink {
        background-color: #ff48a4
    }

    .bg-purple {
        background-color: #9d60ff
    }

    .bg-lightred {
        background-color: #ff5722
    }

    .padding-15px-lr {
        padding-left: 3px;
        padding-right: 3px;
    }

    .padding-5px-tb {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .margin-10px-bottom {
        margin-bottom: 5px;
    }

    .border-radius-5 {
        border-radius: 5px;
    }

    .margin-10px-top {
        margin-top: 3px;
    }

    .font-size14 {
        font-size: 10px;
    }

    .text-light-gray {
        color: #d6d5d5;
    }

    .font-size13 {
        font-size: 10px;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #444647;
    }

    .table td, .table th {
        padding: .50rem;
        vertical-align: top;
        border-top: 1px solid #444647;
    }
</style>